{% extends 'base.html' %}
{% block head_title %} {{ user.username }} || {{ block.super }} {% endblock head_title %}

{% block content %}
<h1>{{ user.username }}</h1>
<!--{{ request.user.is_following.all }}-->
<!--{% if user.profile in request.user.is_following.all %}
    Is Following
{% endif%}-->
<p>{% include 'profiles/snippet/follow_form.html' with username=user.username is_following=is_following %}</p>
<form class="form" method="GET" action=".">
    <input type="text" placeholder="Search...." name="q" value="{{ request.GET.q }}">
    <button class="btn btn-primary" type="submit">Search</button>
</form>
<hr/>
{% if locations %}
{% for rest in locations %}
<div class="row">
    <div class="col-sm-12" style="border:1px solid #ccc; border-radius:5px;margin-bottom:15px;">
        <h4>{{ rest.title }} <h6>{{ rest.location }} | {{ rest.category }}</h6></h4>
        <p>
            <ul>
                {% for item in rest.item_set.all %}
                <li style="margin-bottom:15px;">{{ item.name }}<br/>
                   Contains:  {% for ing in item.get_contents %}
                        <span class="badge badge-secondary">{{ ing }}</span>
                    {% endfor %}

                </li>
                {% endfor %}
            </ul>
        </p>
    </div>
</div>
{% endfor %}

{% else %}
<p class="lead">No Item Found</p>


{% endif %}

{% endblock %}


